<div class="row m-0">
    <h4>Venda</h4>
</div>
<div class="row m-0">
    <div class="table-overflow">
        <table class="table table-striped table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td scope="row">Banana</td>
                    <td>Natural</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Maça</td>
                    <td>Natural</td>
                    <td>
                        <input type="button" id="btn_menos" name="btn_menos" value="-">
                        <input type="button" id="btn_mais" name="btn_mais" value="+">
                    </td>

                </tr>
                <!-- <tr class="tr-pointer" *ngFor="let usuario of listaUsuarios">
                                        <th></th>
                                        <td>{{ usuario.username }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.perfil }}</td>
                                    </tr> -->
            </tbody>
        </table>
    </div>
</div>